In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/pik1989/Cryptocurrency-BTC-Data-Analysis/main/main_df.csv")

In [2]:
df

,Datetime,Symbol,Open,High,Low,Close
0,2021-07-01 00:00:00,BTC,35049.045484,35056.817222,34991.326658,34993.994267
1,2021-07-01 00:01:00,BTC,34995.349202,35030.583041,34989.167695,34991.266464
2,2021-07-01 00:02:00,BTC,34991.950939,34994.431719,34929.671801,34952.450112
3,2021-07-01 00:03:00,BTC,34954.642324,34980.657519,34954.642324,34961.649826
4,2021-07-01 00:04:00,BTC,34960.350436,34996.245435,34960.350436,34976.586395
...,...,...,...,...,...,...
27355,2021-07-01 23:55:00,EOS,3.945295,3.945295,3.936671,3.939916
27356,2021-07-01 23:56:00,EOS,3.939917,3.940801,3.933735,3.933735
27357,2021-07-01 23:57:00,EOS,3.933920,3.934184,3.928797,3.933092
27358,2021-07-01 23:58:00,EOS,3.933122,3.939846,3.933122,3.939811
27359,2021-07-01 23:59:00,EOS,3.939591,3.939752,3.927281,3.927281

In [4]:
from google.colab import files
dfPivotSubdirURL.to_csv(brandname + 'https://raw.githubusercontent.com/pik1989/Cryptocurrency-BTC-Data-Analysis/main/main_df.csv"), sep='\t')
files.download(brandname + "https://raw.githubusercontent.com/pik1989/Cryptocurrency-BTC-Data-Analysis/main/main_df.csv")

SyntaxError: ignored